<form action="/post" method="post">
	<ul>
		<li>Title: <input type="text" name="title"></li>
		<li>Tag: <input type="text" name="category"></li>
		<li>Text: <textarea name="content" style="font-family:sans-serif;font-size:1.2em;"></textarea></li>
		<li><button type="submit">Create Post</button></li>
	</ul>
</form>

<a href="/post">Write a new topic</a>

<table style="width:100%">
	<tr>
		<th>Reply</th>
		<th>Towards</th>
		<th>Author</th>
		<th>Score</th>
		<th>Date</th>
	</tr>
	{% for topic in topics %}
	<tr>
		<td>{{ topic.text }}</td>
		<td>{{ topic.recipient }}</td>
		<td>{{ topic.userID }}</td>
		<td>{{ topic.score }}</td>
		<td>{{ topic.time }}</td>
	</tr>
	{% endfor %}
</table>